<ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar" style="background-color: #9f280c;">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center">
        <div class="sidebar-brand-icon rotate-n-15">
           
        </div>
        <div class="sidebar-brand-text mx-3" >Crime Alert</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/myadmin/dashboard/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->

    
  <hr class="sidebar-divider">
     <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Manage Category</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header"></h6>
                <a class="collapse-item" href="/myadmin/add_category/">Add Category</a>
                <a class="collapse-item" href="/myadmin/view_category/">View Category</a>
            </div>
        </div>
    </li>
    
  
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsefour"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Manage SecurityProduct</span>
        </a>
        <div id="collapsefour" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header"></h6>
                <a class="collapse-item" href="/myadmin/add_product/">Add Product</a>
                <a class="collapse-item" href="/myadmin/view_product/">View  Product</a>
            </div>
        </div>
    </li>
       
              <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsethree"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Manage City</span>
                </a>
                <div id="collapsethree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header"></h6>
                        <a class="collapse-item" href="/myadmin/add_city/">Add City</a>
                         <a class="collapse-item" href="/myadmin/view_city/">View City</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsek"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Manage Area</span>
                </a>
                <div id="collapsek" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header"></h6>
                        <a class="collapse-item" href="/myadmin/add_area/">Add Area</a>
                        <a class="collapse-item" href="/myadmin/view_area/">View Area</a>
                    </div>
                </div>
            </li>
           
    <!-- <hr class="sidebar-divider">
     <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Manage Category</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header"></h6>
                <a class="collapse-item" href="/myadmin/add_category/">Add Category</a>
                <a class="collapse-item" href="/myadmin/view_category/">View Category</a>
            </div>
        </div>
    </li>
    
  
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsefour"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Manage SecurityProduct</span>
        </a>
        <div id="collapsefour" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header"></h6>
                <a class="collapse-item" href="/myadmin/add_product/">Add Product</a>
                <a class="collapse-item" href="/myadmin/view_product/">View  Product</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsethree"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Manage Post</span>
        </a>
        <div id="collapsethree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header"></h6>
                <a class="collapse-item" href="add-post.html">Add Post</a>
                <a class="collapse-item" href="view-post.html">View Post</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsethree"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Manage City</span>
        </a>
        <div id="collapsethree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header"></h6>
                <a class="collapse-item" href="/user/add_city/">Add City</a>
                <a class="collapse-item" href="/user/view_city/">View City</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsetwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Manage Area</span>
        </a>
        <div id="collapsefour" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header"></h6>
                <a class="collapse-item" href="/user/add_area/">Add Area</a>
                <a class="collapse-item" href="/user/view_area/">View Area</a>
            </div>
        </div>
    </li>
 -->
    <li class="nav-item ">
        <a class="nav-link" href="/myadmin/view_user/">
            <i class="fas fa-fw fa-cog"></i>
            <span>View User</span></a>
    </li>
     <li class="nav-item ">
        <a class="nav-link" href="/myadmin/view_report/">
            <i class="fas fa-fw fa-cog"></i>
            <span>View Report</span></a>
    </li>
    
    <li class="nav-item ">
        <a class="nav-link" href="/myadmin/view_post/">
            <i class="fas fa-fw fa-cog"></i>
            <span>View Posts</span></a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="/myadmin/view_comment/">
            <i class="fas fa-fw fa-cog"></i>
            <span>View Posts comment</span></a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="/myadmin/view_post_like/">
            <i class="fas fa-fw fa-cog"></i>
            <span>View Posts like</span></a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="/myadmin/view_Quickcontact/">
            <i class="fas fa-fw fa-cog"></i>
            <span>View Quickcontact </span></a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="/myadmin/view_inquiry/">
            <i class="fas fa-fw fa-cog"></i>
            <span>View Inquiry</span></a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="/myadmin/view_feedback/">
            <i class="fas fa-fw fa-cog"></i>
            <span>View Feedback</span></a>
    </li>
   
    <li class="nav-item ">
        <a class="nav-link" href="/myadmin/logout/">
            <i class="fas fa-fw fa-cog"></i>
            <span>Logout</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

</ul>