{%load static%}
<header class="wow fadeInDown" data-offset-top="197" data-spy="affix">
    <div class="logo-wrapper"> 
      <!-- Logo -->
      <div class="container">
        <div class="row"> 
          <!-- Logo -->
          <!-- col-lg-2 -->
          <div class="col-sm-6 col-md-2 col-lg-2  hiddetn-xs"> <a href="/user/home/"><img src="{%static 'user/images/logo.png'%}" alt="Barrister" height="50px"></a> </div>
          <!-- search and book us btn -->
          <div class="col-sm-6 col-md-4 col-lg-3 pull-right hidden-xs">
            <!-- <div class="search"><i class="fa fa-search" aria-hidden="true"></i>
              <div id="search-form-container">
                <form id="search-form" action="#" style="" class="open">
                  <input id="search" name="search" placeholder="Search..." type="search">
                  <input id="search-submit" value="" type="submit">
                  <span id="close-form" class="close">x</span>
                </form>
              </div>
            </div> -->
            <div class="book-us hidden-xs"> <a href="/user/login/">Register/login</a></div>
            <!-- <div class="book-us hidden-xs"> <a href="#">Call Us : +012 345 6789</a></div> -->
          </div>
          <!-- Navigation -->
          <div class="col-sm-12 col-md-6 col-lg-7">
            <nav class="navbar navbar-default pull-right"> 
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
               <!--  <a class="navbar-brand" href="/user/home/"><img src="{%static 'images/logo.png'%}" alt="Barrister"/></a> </div> -->
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li><a href="/user/home/">Home</a></li>
                  <li><a href="/user/about_us/">About Us</a></li>
                  <!-- <li><a href="/user/profile/">Profile</a></li> -->
                  {% if request.user.is_authenticated %}
                  <li class="dropdown"><a href="/user/profile/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="/user/profile/">Your Profile</a></li>
                      <li><a href="/user/edit_profile/">Edit Profile</a></li>
                      <li><a href="/user/change_password/">Change Password</a></li>
                      <li><a href="/user/add_post/">Add Post</a></li>
                      <li><a href="/user/view_post/">View Post</a></li>
                      <li><a href="/user/logout/"> logout</a></li>
                      
                    </ul>
                  </li>
                  {% endif %}
                  <li><a href="/user/security/">Security</a></li>
                  <li><a href="/user/contact_us/">Contact Us</a></li>
                   <!-- <li><a href="/user/register">Register</a></li>
                  <li><a href="/user/login">Login</a></li> -->
                </ul>
              </div>
              <!-- /.navbar-collapse --> 
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>