{% extends 'myadmin/common/layout.html' %}

{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
  
   <!--  <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
</div>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
 <canvas id="myChart" width="300" height="150"></canvas>
<div>

<script type="text/javascript">
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [{% for course in cat_list %} '{{ course }}', {% endfor %}],
            datasets: [{
                label:'Crime',
                data: [{% for number in count_list %} '{{ number }}', {% endfor %}],
                backgroundColor:[
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 135, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(151, 102, 132, 1)',
                'rgba(153, 99, 132, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 135, 1)',
                'rgba(25, 206, 86, 1)',
                'rgba(211, 192, 192, 1)',
                'rgba(234, 102, 132, 1)',
                'rgba(153, 99, 132, 1)',
                'rgba(255, 159, 64, 1)',
                'gree',
                'yellow',
                ],

                borderColor: [
                'rgba(54, 162, 135, 1)',
                'rgba(25, 206, 86, 1)',
                'rgba(211, 192, 192, 1)',
                'rgba(234, 102, 132, 1)',
                'rgba(153, 99, 132, 1)',
                'rgba(255, 159, 64, 1)',

                ],

                borderWidth: 1
            }]
        },

        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    })
</script> 
          
</div>


 
</div>
{%endblock%}